@if(thread){
<article class="thread card">
  <a [routerLink]="['./', thread._id]" class="thread-link text-decoration-none">
    <div class="card-body">
      <h3 class="card-title">{{ thread.title }}</h3>
      <div class="card-subtitle text-muted">
        <div>
          Posted by
          <strong> {{ thread.user_id | user | async }} </strong>
        </div>
        <div>
          {{ thread.created_at | date : "HH:mm, dd.MM.YYYY" }}
        </div>
      </div>
    </div>
  </a>
  @if(user | async; as user && user._id === thread.user_id){
  <div class="card-footer">
    <button class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
  }
</article>
}
