<nav class="navbar navbar-expand-sm bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/forum">Forum</a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" (click)="onLogout()"
          >Logout</a
        >
      </li>
    </ul>
    @if(user | async; as user){
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <span>Logged in as {{ user.username }}</span>
      </li>
    </ul>
    }
  </div>
</nav>
