<app-navbar></app-navbar>
<div class="container">
  @if(thread | async; as thread){
  <div class="thread card">
    <div class="card-body">
      @if(!isBeingEdited){
      <h3>{{ thread.title }}</h3>
      <h4>{{ thread.content }}</h4>
      }@else if (isBeingEdited && editedThread){
      <form (ngSubmit)="onEdit()">
        <input
          type="text"
          name="title"
          id="title"
          [(ngModel)]="editedThread.title"
        />
        <br />
        <textarea
          name="content"
          id="content"
          cols="30"
          rows="10"
          [(ngModel)]="editedThread.content"
        ></textarea>
        <br />
        <button type="submit">Confirm</button>
      </form>
      }
      <p>Posted by {{ thread.user_id | user | async }}</p>
      <p>At {{ thread.created_at | date : "HH:mm, dd.MM.yyyy" }}</p>
    </div>
    @if(user|async;as user) { @if(thread.user_id === user._id){
    <div class="management">
      <button (click)="onBeginEdit()">
        {{ isBeingEdited ? "Cancel" : "Edit" }}
      </button>
    </div>
    }}
  </div>
  <form class="add-comment" (ngSubmit)="onCommentSubmit()">
    <textarea
      name="content"
      cols="50"
      rows="4"
      [(ngModel)]="newComment.content"
    ></textarea>
    <br />
    <button type="submit">Post</button>
  </form>
  @if(newCommentMessage){
  <p>{{ newCommentMessage }}</p>
  } } @if(comments|async; as comments){
  <ul>
    @for (comment of comments | commentsSort; track comment._id) {
    <app-comment [comment]="comment"></app-comment>
    }
  </ul>
  }
</div>
