@if(category && editedCategory){
<div class="category card">
  @if(!isBeingEdited){
  <a [routerLink]="['/forum', category._id]">
    <div class="card-body">
      <h5>{{ category.name }}</h5>
      <h6>{{ category.description }}</h6>
    </div> </a
  >} @else {
  <div class="card-body">
    <input
      type="text"
      name="editedName"
      id="editedName"
      [(ngModel)]="editedCategory.name"
    />
    <br />
    <input
      type="text"
      name="editedDescription"
      id="editedDescription"
      [(ngModel)]="editedCategory.description"
      size="50rem"
    />
    <br />
    <button (click)="onEdit()">Confirm</button>
  </div>
  } @if(userIsAdmin){
  <div class="management">
    <button (click)="isBeingEdited = !isBeingEdited">
      {{ isBeingEdited ? "Cancel" : "Edit" }}
    </button>
    <button (click)="onDelete()">Delete</button>
  </div>
  }
</div>
}
